
*{
  margin:0;
  padding: 0;
  z-index: 1;
}

  .App{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image:url(" https://wallpapercave.com/dwp1x/wp1855039.jpg ") ;
  background-size: cover;
  background-position:bottom;
 

}

span{
  color:rgb(218, 154, 18);
  
}

h4{
  text-align: center;
  font-size:100px;
  margin-top:230px;
  color: rgb(186, 158, 94);
  font-family: fantasy;
  width: 40%;
}

